body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background: #cccccc;
}

h1 {
    margin: 1%;
    text-align: center;
}

#editor-container {
    position: relative;
    border: 2px solid #333333;
    margin: 3vw;
    width: 94vw;
}

#indicator {
    position: absolute;
    top: -8px; right: 2vw;
    border: 2px solid #333333;
    width: 32px;
    height: 16px;
}

.indicator-edit {
    background: #cccccc;
}
.indicator-compiling {
    background: #ffff99;
}
.indicator-okay {
    background: #99ff99;
}
.indicator-error {
    background: #ff6666;
}

#error {
    text-align: center;
    font-weight: bold;
    color: #660000;
    border: #660000 1px solid;
    background: #ff9999;
    width: 80%;
    margin: auto;
    padding: 2px 4px 2px 4px;
}

.credits {
    margin-top: 1em;
    text-align: center;
}

.highlight_actual {
    background-color: #336699;
}

.highlight_error {
    background-color: #993333;
}
